tmp/pid/*
tmp/*.pid
tmp/pids
tmp/pids/*
log/*.log
.sass-cache
.sass-cache/*

public/css
public/images
public/js
public/css/*
public/images/*
public/js/*

db/sphinx
db/sphinx/*

tmp/binlog
tmp/binlog/*

logs/
log/searchd.pid
