.addresses {
  padding-bottom: 20px;
}

.schedule {
  padding-bottom: 20px;
  th, td {
    font-size: 12px !important;
  }
}

.categories {
  padding-bottom: 20px;
  font-size: 12px !important;
  a {
    margin-right: 10px;
    font-size: 12px !important;
  }
}

.keywords {
  padding-bottom: 20px;
  font-size: 12px !important;
  a {
    margin-right: 10px;
    font-size: 12px !important;
  }
}

.ui-btn-inner {
  address, span.phone {
    font-size: 12px !important;
  }
}